<d-m-emotion-carousel>
    <div class="component-container">
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/CoffeeB.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h2 class="title">DAS KAPSEL-SYSTEM OHNE KAPSEL</h2>
                <h3><a href="" class="link-description">COFFEEB</a></h3>
            </div>
        </div>
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/Glace_Slider_1a.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h2 class="title">ERFRISCHENDE GENUSSMOMENTE</h2>
                <h3><a href="" class="link-description">ZU DEN MARKEN</a></h3>
            </div>
        </div>
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/Kaffee_splash.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h2 class="title">REINVENTING GOODNESS</h2>
                <h3><a href="" class="link-description">DAFÜR STEHT DELICA</a></h3>
            </div>
        </div>
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/WEB_Header_bester_Arbeitgeber.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h2 class="title">BESTE ARBEITGEBER 2023</h2>
                <h3><a href="" class="link-description">ARBEITEN BEI DELICA</a></h3>
            </div>
        </div>
        <div class="slide">
            <a-emotion-pictures class="slide-img" namespace="emotion-pictures-default-">
                <a href='https://www.delica.com/-/media/delicacom/Bilder/Slider/CoffeeBall-in-Machine.ashx'>
                    <a-picture namespace="picture-cover-" picture-load defaultSource="../../molecules/emotionCarousel/default-/img/Kaffee_4.jpg" alt="randomized image"></a-picture>
                </a>
            </a-emotion-pictures>
            <div class="slide-description">
                <h2 class="title">UNSER KAFFEE-GENUSS</h2>
                <h3><a href="" class="link-description">ZUM SORTIMENT</a></h3>
            </div>
        </div>
        <div class="controls">
            <div class="section left">
                <a-arrow class="btn btn-prev" direction="left"></a-arrow>
            </div>
            <div class="section right">
                <a-arrow class="btn btn-next" direction="right"></a-arrow>
            </div>
        </div>
    </div>
</d-m-emotion-carousel>