<style>
    .modal {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 445px;
        height: fit-content;
        background-color: white;
        padding: 20px;
        border-radius: 12px;
    }

    .modal > span {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .modal > h3 {
        font-family: Lexend-Medium, JostRegular, HelveticaNowText, Helvetica, Arial, sans-serif;
        font-size: 29px;
        font-weight: 900;
        text-align: center;
        padding: 0 1.25em;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .modal > a-picture {
        width: 219px;
        height: 260px;
        margin: 0px auto;
    }

    .modal > .p1 {
        font-family: Lexend-Semi-Bold, JostRegular, HelveticaNowText, Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .modal > div.two-stores {
        display: flex;
        justify-content: space-evenly;
        height: 45px;
        margin: 40px 20px;
    }

    .modal > div.three-stores {
        display: flex;
        justify-content: space-evenly;
        height: 45px;
        margin: 40px 20px;
    }

    .modal > div.two-stores > a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        max-height: 100%;
        width: calc(100% / 3 - 6%);
        margin: 0px;
    }

    .modal > div.three-stores > a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        max-height: 100%;
        width: calc(100% / 3);
        margin: 0px;
    }

    .modal > div.three-stores > a > img {
        max-height: 100%;
        width: auto;
    }

    .modal > .p2 {
        text-align: center;
        padding: 0 20px;
        margin-bottom: 20px;
    }
</style>

<div class="background"
    style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh; background-color: #f7f7f7; padding: 20px;">
    <div class="modal" style="display: flex; flex-direction: column; position: relative; width: 445px; height: fit-content; background-color: white; padding: 20px; border-radius: 12px;">
        <span style="position: absolute; top: 20px; right: 20px;">
            <a-icon-mdx icon-name="X" size="1.25em" rotate="0" no-hover-transform></a-icon-mdx>
        </span>
        <h3 style="font-family: Lexend-Medium, JostRegular, HelveticaNowText, Helvetica, Arial, sans-serif; font-size: 29px; font-weight: 900; text-align: center; padding: 0 1.25em; margin-top: 25px; margin-bottom: 10px;">Café Royal Tiramisu</h3>
        <a-picture style="width: 219px; height: 260px; margin: 0px auto;" namespace="picture-cover-" defaultSource="./img/Cafe-Royal-Tiramisu.png" alt="Café-Royal Tiramisu"></a-picture>
        <p class="p1" style="font-family: Lexend-Semi-Bold, JostRegular, HelveticaNowText, Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 600; text-align: center; margin-top: 10px; margin-bottom: 0px;">Wähle aus, wo du das Produkt kaufen möchtest:</p>
        <div class="two-stores" style="display: flex; justify-content: space-evenly; height: 45px; margin: 40px 20px;">
            <a style="display: flex; align-items: center; justify-content: center; height: auto; max-height: 100%; width: calc(100% / 3); margin: 0px;" href="https://www.galaxus.ch/de/s7/product/cafe-royal-dessert-dreams-tiramisu-10-x-port-kaffeekapseln-24176194" target="_blank">
                <a-picture namespace="picture-icon-" defaultSource="./img/Cafe-Royal-Tiramisu.png" alt="Café-Royal Tiramisu"></a-picture>
            </a>
            <a style="display: flex; align-items: center; justify-content: center; height: auto; max-height: 100%; width: calc(100% / 3); margin: 0px;" href="https://www.migros.ch/de/product/107120400000" target="_blank">
                <a-picture namespace="picture-icon-" defaultSource="./img/migros-de-CH.png" alt="Migros Online Logo"></a-picture>
            </a>
        </div>
        <p class="p2" style="text-align: center; padding: 0 20px; margin-bottom: 20px;">Du wirst direkt auf den Partnershop weitergeleitet</p>
    </div>
</div>

<div class="background"
    style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh; background-color: #f7f7f7; padding: 20px;">
    <div class="modal" style="display: flex; flex-direction: column; position: relative; width: 445px; height: fit-content; background-color: white; padding: 20px; border-radius: 12px;">
        <span style="position: absolute; top: 20px; right: 20px;">
            <a-icon-mdx icon-name="X" size="1.25em" rotate="0" no-hover-transform></a-icon-mdx>
        </span>
        <h3 style="font-family: Lexend-Medium, JostRegular, HelveticaNowText, Helvetica, Arial, sans-serif; font-size: 29px; font-weight: 900; text-align: center; padding: 0 1.25em; margin-top: 25px; margin-bottom: 10px;">Café Royal Tiramisu</h3>
        <a-picture style="width: 219px; height: 260px; margin: 0px auto;" namespace="picture-cover-" defaultSource="./img/Cafe-Royal-Tiramisu.png" alt="Café-Royal Tiramisu"></a-picture>
        <p class="p1" style="font-family: Lexend-Semi-Bold, JostRegular, HelveticaNowText, Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 600; text-align: center; margin-top: 10px; margin-bottom: 0px;">Wähle aus, wo du das Produkt kaufen möchtest:</p>
        <div class="three-stores" style="display: flex; justify-content: space-evenly; height: 45px; margin: 40px 20px;">
            <a style="display: flex; align-items: center; justify-content: center; height: auto; max-height: 100%; width: calc(100% / 3 - 6%); margin: 0px;" href="https://www.galaxus.ch/de/s7/product/cafe-royal-dessert-dreams-tiramisu-10-x-port-kaffeekapseln-24176194" target="_blank">
                <a-picture namespace="picture-icon-" defaultSource="./img/galaxus-logo-small.png" alt="Galaxus Logo"></a-picture>
            </a>
            <a style="display: flex; align-items: center; justify-content: center; height: auto; max-height: 100%; width: calc(100% / 3 - 6%); margin: 0px;" href="https://www.migros.ch/de/product/107120400000" target="_blank">
                <a-picture namespace="picture-icon-" defaultSource="./img/Cafe-Royal-Tiramisu.png" alt="Migros Online Logo"></a-picture>
            </a>
            <a style="display: flex; align-items: center; justify-content: center; height: auto; max-height: 100%; width: calc(100% / 3 - 6%); margin: 0px;" href="https://www.brack.ch/cafe-royal-kaffeekapseln-fuer-nespresso-tiramisu-100-stueck-1542996" target="_blank">
                <a-picture namespace="picture-icon-" defaultSource="./img/brack.png" alt="Brack.ch Logo"></a-picture>
            </a>
        </div>
        <p class="p2" style="text-align: center; padding: 0 20px; margin-bottom: 20px;">Du wirst direkt auf den Partnershop weitergeleitet</p>
    </div>
</div>
