<style>
  o-wrapper {
    display: flex;
  }

  /* .o-wrapper-1 {
    --any-content-width: 90%;
  } */
</style>

<div class="o-wrapper-1">
  <o-grid namespace="grid-12er-" mobile-breakpoint="630px" tablet-breakpoint="1500px">
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <m-dialog namespace="dialog-default-" autofocus>
              <cr-m-product-teaser-modal>
                <div>
                  <span>
                    <a-icon-mdx id="close" icon-name="X" size="1.25em" rotate="0" no-hover-transform></a-icon-mdx>
                  </span>
                  <h3>Café Royal Tiramisu</h3>
                  <div class="product-image">
                    <a-picture defaultSource="./img/Cafe-Royal-Tiramisu.png" alt="Café-Royal Tiramisu"></a-picture>
                  </div>
                  <h4>Wähle aus, wo du das Produkt kaufen möchtest:</h4>
                  <div class="three-stores">
                    <a href="https://www.galaxus.ch/de/s7/product/cafe-royal-dessert-dreams-tiramisu-10-x-port-kaffeekapseln-24176194" target="_blank">
                      <a-picture namespace="picture-icon-" defaultSource="./img/galaxus-logo-small.png" alt="Galaxus Logo"></a-picture>
                    </a>
                    <a href="https://www.migros.ch/de/product/107120400000" target="_blank">
                      <a-picture namespace="picture-icon-" defaultSource="./img/migros-de-CH.png" alt="Migros Online Logo"></a-picture>
                    </a>
                    <a href="https://www.brack.ch/cafe-royal-kaffeekapseln-fuer-nespresso-tiramisu-100-stueck-1542996" target="_blank">
                      <a-picture namespace="picture-icon-" defaultSource="./img/brack.png" alt="Brack.ch Logo"></a-picture>
                    </a>
                  </div>
                  <p>Du wirst direkt auf den Partnershop weitergeleitet</p>
                </div>
              </cr-m-product-teaser-modal>
              <a-button namespace="button-primary-" id="show-modal">Show Modal</a-button>
            </m-dialog>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <m-dialog namespace="dialog-default-" autofocus>
              <cr-m-product-teaser-modal>
                <div>
                  <span>
                    <a-icon-mdx id="close" icon-name="X" size="1.25em" rotate="0" no-hover-transform></a-icon-mdx>
                  </span>
                  <h3>Café Royal Tiramisu</h3>
                  <div class="product-image">
                    <a-picture defaultSource="./img/brack.png" alt="Café-Royal Tiramisu"></a-picture>
                  </div>
                  <h4>Wähle aus, wo du das Produkt kaufen möchtest:</h4>
                  <div class="two-stores">
                    <a href="https://www.galaxus.ch/de/s7/product/cafe-royal-dessert-dreams-tiramisu-10-x-port-kaffeekapseln-24176194" target="_blank">
                      <a-picture namespace="picture-icon-" defaultSource="./img/galaxus-logo-small.png" alt="Galaxus Logo"></a-picture>
                    </a>
                    <a href="https://www.brack.ch/cafe-royal-kaffeekapseln-fuer-nespresso-tiramisu-100-stueck-1542996" target="_blank">
                      <a-picture namespace="picture-icon-" defaultSource="./img/brack.png" alt="Brack.ch Logo"></a-picture>
                    </a>
                  </div>
                  <p>Du wirst direkt auf den Partnershop weitergeleitet</p>
                </div>
              </cr-m-product-teaser-modal>
              <a-button namespace="button-primary-" id="show-modal">Show Modal 2</a-button>
            </m-dialog>            
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <m-carousel-two active=11 namespace=carousel-two-default no-default-nav small-arrows>
              <section>
                <a-picture namespace="picture-teaser-" picture-load defaultSource="./img/Glace_002.jpg" alt="Glace"></a-picture>
                <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
              </section>
            </m-carousel-two>
          </div>
          <figcaption>
            <span>
              <h2>Fairtrade CR Honduras Crema 1kg Espressooooo</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    
  </o-grid>
  
</div>

<hr>


