<style>
  o-wrapper {
    display: flex;
  }

  /* .o-wrapper-1 {
    --any-content-width: 90%;
  } */
</style>

<div class="o-wrapper-1">
  <o-grid namespace="grid-12er-" mobile-breakpoint="630px" tablet-breakpoint="1500px">
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
          </div>
          <figcaption>
            <span>
              <h2>Lungo 10</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    <cr-m-product-teaser col-lg="4" col-md="6" col-sm="12">
      <div>
        <figure>
          <div>
            <m-carousel-two active=11 namespace=carousel-two-default no-default-nav small-arrows>
              <section>
                <a-picture namespace="picture-teaser-" picture-load defaultSource="./img/Glace_002.jpg" alt="Glace"></a-picture>
                <a-picture namespace="picture-teaser-" picture-load defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/kaffee.png" alt="kafi"></a-picture>
              </section>
            </m-carousel-two>
          </div>
          <figcaption>
            <span>
              <h2>Fairtrade CR Honduras Crema 1kg Espressooooo</h2>
              <a-picture namespace="picture-icon-" defaultSource="./../../../../../src/es/components/molecules/productTeaser/img/Kapsel.svg" alt="Kapsel"></a-picture>
            </span>
            <p>Harmonisch & Caramelnoten<br /><strong>Intensity 5</strong></p>
            <a-button namespace="button-primary-">Wo kaufen</a-button>
          </figcaption>
        </figure>
      </div>
    </cr-m-product-teaser>
    
  </o-grid>
  
</div>

<hr>


